<!-- Product Form -->
<div class="card mb-4">
    <div class="card-header">
        <h5>Add / Edit Product</h5>
    </div>
    <div class="card-body">
        <form class="row g-3 align-items-end" (submit)="onSubmit($event)">
            <div class="col-md-1">
                <label for="id" class="form-label">ID</label>
                <input type="text" id="id" class="form-control" [value]="currentProduct?.id || ''" disabled />
            </div>
            <div class="col-md-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" [(ngModel)]="name" name="name" class="form-control"
                    placeholder="Product Name" />
            </div>
            <div class="col-md-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" [(ngModel)]="description" name="description" class="form-control"
                    placeholder="Short Description" />
            </div>
            <div class="col-md-2">
                <label for="price" class="form-label">Price ($)</label>
                <input type="number" id="price" [(ngModel)]="price" name="price" class="form-control"
                    placeholder="0.00" />
            </div>
            <div class="col-md-2">
                <label for="expiration" class="form-label">Expiration Date</label>
                <input type="date" id="expiration" [(ngModel)]="expirationDate" name="expirationDate"
                    class="form-control" />
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-outline-danger w-100" (click)="onCancel()">Cancel</button>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </div>
        </form>
    </div>
</div>